@import '~@squidit/css/src/scss/squid.scss';

body {
  background: #fff;
}

img{
  width: 120px;
  height: 120px;
  margin-right: 15px;
}

.display-contents{
  display: contents;
}

.margin-image{
  margin-bottom: 15px;
}

.hover:hover{
  display: block;
}

.text{
  font-weight: 100;
  color: white;
}
