@import '~@squidit/css/src/scss/squid.scss';

body {
  background: #fff;
}

img{
  width: 120px;
  height: 120px;
  margin-right: 15px;
}

.margin-right{
  display: contents;
  margin-bottom: 15px;
}
